body {
  overflow-x: hidden;
  background-color: #000000;
  position: relative; }
  body #navigation {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    /*  .nav .navbar-nav{
    			color: $secondary-color;
    		}  */ }
    body #navigation #logo1 {
      width: 60px;
      height: 20px; }
    body #navigation .header-left {
      background-color: #a5d25b;
      height: 50px; }
    body #navigation .header-left img {
      display: inline; }
    body #navigation .logo-left {
      padding-left: 150px;
      padding-top: 5px; }
    body #navigation .logo-right {
      padding-left: 0px;
      padding-top: 5px; }
    body #navigation .header-right {
      background-color: #282828; }
    body #navigation .logobg {
      height: 50px;
      background-color: #A3DD00;
      margin-left: 0; }
    body #navigation .navbg {
      background-color: #1c1819; }
    body #navigation .nav > li > a {
      color: #ffffff; }
    body #navigation .navbar {
      margin-left: 450px; }
    body #navigation .nav-buttons {
      display: inline;
      font-size: 18px;
      left: 250px; }
    body #navigation .carousel-one .car1 {
      margin: 0 0;
      padding-right: 0;
      padding-left: 0; }
    body #navigation .carousel-one .carousel-indicators {
      padding-right: 350px; }
  body #quote-carousel {
    height: 250px; }
    body #quote-carousel .quotes {
      padding-top: -50px;
      background-color: #161717;
      display: inline; }
    body #quote-carousel .indicate li {
      display: block; }
    body #quote-carousel #quote-carousel {
      padding-top: 0px; }
    body #quote-carousel #quote-carousel p {
      color: #ECF0F1;
      font-family: 'Open Sans' , serif;
      font-size: 15px; }
    body #quote-carousel #quote-carousel h4 {
      color: #e1e1e1;
      font-size: 22px;
      font-family: 'Open Sans' , serif;
      font-weight: 500; }
    body #quote-carousel .indicate {
      position: relative;
      left: 140%;
      padding-top: 50px; }
  body .carousel2 {
    background-color: #1f1e1f; }
  body #myCarousel2 {
    background-color: #1f1e1f;
    height: 900px;
    font-size: 20px; }
    body #myCarousel2 .carousel-indicators {
      left: 0;
      margin-left: 0;
      width: 100%;
      padding-bottom: 70px; }
      body #myCarousel2 .carousel-indicators li {
        width: 24%;
        height: auto;
        border-width: 3px 0 0 0;
        border-style: solid;
        border-color: #ffffff;
        border-radius: 0;
        color: #ffffff;
        text-indent: initial;
        background-color: transparent;
        text-align: left;
        text-transform: uppercase;
        font-weight: 300; }
        body #myCarousel2 .carousel-indicators li.active {
          color: #a5d25b;
          border-color: #a5d25b;
          background-color: transparent; }
  body .carousel2 img {
    padding-top: 150px; }
  body .carousel-control.left {
    background-image: none; }
  body .carousel-control.right {
    background-image: none; }
  body .image-center {
    margin: 0 auto; }
  body .colu-left {
    margin-left: 12% !important; }
  body .colu-lefttext h3 {
    padding-left: 70px; }
  body .colu-lefttext p {
    padding-left: 70px; }
  body .colu-lefttext button {
    margin-left: 70px;
    padding: 7px 50px;
    border-radius: 3px;
    background-color: #ffffff;
    border: none;
    outline: none;
    color: #a7d55b;
    font-weight: 600; }
  body .section-six {
    background-color: #9ec956;
    height: 500px; }
  body .ipad-line {
    background-color: #a7d55b;
    height: 500px; }
  body .ipad img {
    margin-top: 78px;
    padding-right: 50px;
    position: absolute;
    clip: rect(0px, 452px, 422px, 0px);
    width: 100%;
    margin-left: 25px; }
  body .text-line {
    margin-top: 70px; }
  body .text-download {
    color: #ffffff;
    font-size: 18px; }
  body .text-download h3 {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 25px;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 12px; }
  body .text-sed p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    padding-bottom: 15px;
    color: #ffffff; }
  body .text-proin p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    padding-bottom: 15px;
    color: #ffffff; }
  body .section-seven {
    background-color: #e1e1e1;
    height: 500px; }
  body .seventh-line {
    background-color: #f5f5f5;
    height: 500px; }
  body .section-sameone h4 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin-left: 30px;
    margin-top: 40px;
    color: #737c85; }
  body .section-samesubone li {
    font-family: 'Open Sans' , serif;
    font-size: 14px;
    font-weight: 300;
    margin-left: 30px;
    line-height: 25px;
    color: #737c85; }
  body .footer-logo img {
    padding-top: 130px;
    position: relative;
    right: 100px; }
  body .foot-cright p:hover {
    text-decoration: none !important; }
  body .footer-logo p {
    padding-left: 430px;
    color: #c5c9cc; }
  body .last-rectangle {
    background-color: #28292d;
    height: 40px; }

/*# sourceMappingURL=main.css.map */
